.kolom{
padding: 10%;
}

h1{
    font-size: 50px;
    color: #2e5e25;
}

.kolom .menabung{
    padding-top: 10px;
    font-size: 20px;
}

.kolom .menabung2{
    padding-top: 10px;
    font-size: 20px;
}

.kolom .latarbelakang{
    padding-top: 10px;
    font-size: 20px;
}

.kolom .latarbelakang2{
    padding-top: 10px;
    font-size: 20px;
}

h2{
    padding-top: 15px;
    font-weight: bold;
    color: #2e5e25;
}